@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}

/* MARK: Light/Dark Switch
*/
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(126, 126, 126);
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #ffffff;
}
input:checked + .slider:before {
    transform: translateX(20px);
}


/* MARK: Light/Dark
*/
.dark-mode {
    background-color: black;
    color: white;
}
.light-mode {
    background-color: #fff;
}


/* MARK: Header
*/
.light-mode header,
.dark-mode header {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.light-mode header h1,
.dark-mode header h1 {
    grid-column: 2 / 3;
    text-align: center;
}
.light-mode header .switch,
.dark-mode header .switch {
    grid-column: 3/ 4;
    margin-right: 20px;
    justify-self: flex-end;
}


/* MARK: General
*/
.light-mode .title,
.dark-mode .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 2rem;
}
.light-mode .title a,
.dark-mode .title a {
    color: #aaa9b1;
    border: 2px solid #aaa9b1;
    padding: 5px 10px;
    border-radius: 25px;
}
.light-mode figcaption,
.dark-mode figcaption {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.light-mode a {
    text-decoration: none;
    color: black;
}
.dark-mode a {
    text-decoration: none;
    color: white;
}
.light-mode i,
.dark-mode i {
    color: rgb(253, 195, 87);
}
.light-mode p,
.dark-mode p {
    color: #aaa9b1;
    font-weight: 200;
}

/* MARK: Now Showing
*/
.light-mode .nowShowing,
.dark-mode .nowShowing {
    padding: 2rem 0;
}
.light-mode .nowShowing .movieWrapper,
.dark-mode .nowShowing .movieWrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: fit-content;
    width: 100%;
    &::-webkit-scrollbar {
        display: none;
    }
}
.light-mode .nowShowing .movie,
.dark-mode .nowShowing .movie {
    flex: 0 0 auto;
    margin-right: 2rem;
    width: 40%;
    height: 100%;
    &:first-of-type {
        margin-left: 2rem;
    }
    &:last-of-type {
        margin-right: 2rem;
    }
}
.light-mode .nowShowing .movie img,
.dark-mode .nowShowing .movie img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 7px 10px -6px rgba(0,0,0,0.75);
}
.light-mode .nowShowing figcaption,
.dark-mode .nowShowing figcaption {
    margin-top: 10px;
}

/* MARK: Popular
*/
.light-mode .popular,
.dark-mode .popular {
    margin-top: 2rem;
}
.light-mode .popular .movieWrapper,
.dark-mode .popular .movieWrapper {
    padding: 0 2rem;
}
.light-mode .popular .movie,
.dark-mode .popular .movie {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.light-mode .popular img,
.dark-mode .popular img {
    width: 130px;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}
.light-mode .popular ul,
.dark-mode .popular ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.light-mode .popular ul li,
.dark-mode .popular ul li {
    padding: 5px 15px;
    border-radius: 25px;
    background-color: #dce3ff;
    color: #8ca4ea;
    font-size: 14px;
}
.light-mode .popular .release_date,
.dark-mode .popular .release_date {
    display: flex;
    gap: 10px;
    font-size: 14px;
}

/* MARK: Dark
*/
.dark-mode h1, .dark-mode h2 {
    color: #dce3ff;
}
.dark-mode .nowShowing .movie img {
    box-shadow: 0px 11px 27px -7px rgba(66,46,23,0.67);
}
.dark-mode .popular .movie img {
    box-shadow: 0px 0px 11px -1px rgba(66,46,23,0.67);
}







/* -------------------------------------------------------- */
/* MARK: Media Queries
*/



/* MARK: SMALL PHONE
*/
@media only screen and (max-width: 420px) {



    /* MARK: Header
    */
    .light-mode header h1,
    .dark-mode header h1 {
        font-size: 1.5rem;
    }
    .light-mode header .switch,
    .dark-mode header .switch {
        margin-right: 1rem;
    }

    /* MARK: General
    */
    .light-mode .title,
    .dark-mode .title {
        font-size: .8rem;
        padding: 0 1rem;
    }
    .light-mode figcaption a,
    .dark-mode figcaption a {
        font-size: .8rem;
    }
    .light-mode figcaption p,
    .dark-mode figcaption p {
        font-size: .7rem;
    }

    /* MARK: Now Showing
    */
    .light-mode .nowShowing .movie,
    .dark-mode .nowShowing .movie {
        margin-right: 1rem;
        width: 40%;
        &:first-of-type {
            margin-left: 1rem;
        }
        &:last-of-type {
            margin-right: 1rem;
        }
    }
    .light-mode .nowShowing .movie img,
    .dark-mode .nowShowing .movie img {
        height: 250px;
    }

    /* MARK: Popular
    */
    .light-mode .popular .movieWrapper,
    .dark-mode .popular .movieWrapper {
        padding: 0 1rem;
    }
    .light-mode .popular img,
    .dark-mode .popular img {
        width: 140px;
    }
    .light-mode .popular ul li,
    .dark-mode .popular ul li,
    .light-mode .popular .release_date p,
    .dark-mode .popular .release_date p {
        font-size: 14px;
    }
}



/* MARK: TABLET / IPAD
*/
@media only screen and (min-width: 769px) {



    /* MARK: Header
    */
    .light-mode header h1,
    .dark-mode header h1 {
        font-size: 3rem;
    }
    .light-mode header .switch,
    .dark-mode header .switch {
        margin-right: 2rem;
    }

    /* MARK: General
    */
    .light-mode .title,
    .dark-mode .title {
        font-size: 1.5rem;
        padding: 0 2rem;
    }
    .light-mode figcaption a,
    .dark-mode figcaption a {
        font-size: 1.3rem;
    }
    .light-mode figcaption p,
    .dark-mode figcaption p {
        font-size: 1.2rem;
    }

    /* MARK: Now Showing
    */
    .light-mode .nowShowing .movie,
    .dark-mode .nowShowing .movie {
        width: 35%;
        &:first-of-type {
            margin-left: 2rem;
        }
        &:last-of-type {
            margin-right: 2rem;
        }
    }
    .light-mode .nowShowing .movie img,
    .dark-mode .nowShowing .movie img {
        height: 500px;
    }

    /* MARK: Popular
    */
    .light-mode .popular img,
    .dark-mode .popular img {
        width: auto;
        height: 300px;
    }
    .light-mode .popular ul li,
    .dark-mode .popular ul li,
    .light-mode .popular .release_date p,
    .dark-mode .popular .release_date p {
        font-size: 18px;
    }
}





/* MARK: DESKTOP
*/



@media only screen and (min-width: 1100px) {
    /* MARK: General
    */
    .light-mode figcaption a,
    .dark-mode figcaption a {
        font-size: 1.5rem;
    }

    /* MARK: Header
    */
    .light-mode header,
    .dark-mode header,
    .light-mode .popular,
    .dark-mode .popular {
        width: 90%;
        margin: 2rem auto;
    }
    .light-mode header .switch,
    .dark-mode header .switch {
        margin-right: 0;
    }

    /* MARK: Now Showing
    */
    .light-mode .nowShowing .movieWrapper,
    .dark-mode .nowShowing .movieWrapper {
        /* show the scrollbar on desktop */
        &::-webkit-scrollbar {
            display: block;
            height: 20px;
        }
        /* style of scrollbar stick */
        &::-webkit-scrollbar-thumb {
            background: rgb(0, 0, 0);
            border-radius: 10px;
            border: 1px solid rgb(255, 0, 0);
            box-shadow: inset 0px 0px 13px 0px hsl(0, 100%, 50%);
        }
        /* style of scrollbare track */
        &::-webkit-scrollbar-track {
            background-color: #fff;
            border: 1px solid rgb(0, 0, 0);
            box-shadow: inset 0px 0px 13px 0px #000000;
            border-radius: 10px;
        }
    }
    .light-mode .nowShowing .movie,
    .dark-mode .nowShowing .movie {
        margin-bottom: 1rem;
    }
    .light-mode .nowShowing .movie img,
    .dark-mode .nowShowing .movie img {
        height: 600px;
    }

    /* MARK: Popular
    */
    .light-mode .popular .title,
    .dark-mode .popular .title {
        padding: 0;
    }
    .light-mode .popular .movieWrapper,
    .dark-mode .popular .movieWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        padding: 0;
        &::-webkit-scrollbar {
            display: block;
        }
    }
    .light-mode .popular img,
    .dark-mode .popular img {
        width: 220px;
        height: auto;
    }
}




/* MARK: Large Screen
*/
@media only screen and (min-width: 1300px) {
    /* MARK: General
    */
    .light-mode figcaption a,
    .dark-mode figcaption a {
        font-size: 1.7rem;
    }
    .light-mode .title,
    .dark-mode .title {
        font-size: 2rem;
    }

    /* MARK: Header
    */
    .light-mode header h1,
    .dark-mode header h1 {
        font-size: 4rem;
    }

    /* MARK: Now Showing
    */
    .light-mode .nowShowing .movie,
    .dark-mode .nowShowing .movie {
        width: 30%;
    }
    .light-mode .nowShowing .movie img,
    .dark-mode .nowShowing .movie img {
        height: 700px;
    }

    /* MARK: Popular
    */
    .light-mode .popular img,
    .dark-mode .popular img {
        width: 250px;
    }
}


@media only screen and (min-width: 1300px) {
    /* MARK: Now Showing
    */
    .light-mode .nowShowing .movie,
    .dark-mode .nowShowing .movie {
        width: 25%;
    }
}